<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - YourSolution.Web</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
    <link href="~/lib/flatpickr/flatpickr.min.css" rel="stylesheet" />
    <link href="~/lib/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/lib/sweetalert2/sweetalert2.min.css" rel="stylesheet" />

    @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/YourSolution.Web.styles.css" asp-append-version="true" /> *@
    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <header>
    </header>
    <div>
        <main>
            @RenderBody()
        </main>
    </div>

    <footer>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jqueryui/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/lib/flatpickr/flatpickr.min.js"></script>
    <script src="~/lib/flatpickr/l10n/zh-tw.min.js"></script>
    <script src="~/lib/moment.js/moment.min.js"></script>
    <script src="~/lib/moment.js/locale/zh-tw.min.js"></script>
    <script src="~/lib/sweetalert2/sweetalert2.min.js"></script>
    @* <script src="~/js/site.js" asp-append-version="true"></script> *@
    <script type="importmap">
        {
          "imports": {
            "vue": "/lib/vue/vue.esm-browser.min.js",
            "axios": "/lib/axios/esm/axios.min.js"
          }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
